<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}</title>

        {% block stylesheets %}
            <link href="{{ asset('Semantic-UI-CSS-master/semantic.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="{{ asset('/Semantic-UI-CSS-master/semantic.min.js') }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
